@import "tailwindcss";

@font-face {
  font-family: 'Glenite';
  src: url('/fonts/glenite.otf') format('opentype');
}

@font-face {
  font-family: 'Equivalent';
  src: url('/fonts/equivalent-bold.otf') format('opentype');
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #11111a;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#hero {
  background: #060061;
  background: -webkit-linear-gradient(to bottom, #060061, #7927a5, #fb6fae);
  background: linear-gradient(to bottom, #060061, #7927a5, #fb6fae);
}