@import "tailwindcss";

@font-face {
  font-family: 'Equivalent';
  src: url('/fonts/equivalent-bold.otf') format('opentype');
}

@font-face {
  font-family: 'Equivalent Bold';
  src: url('/fonts/equivalent-extrabold.otf') format('opentype');
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #11111a;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:hover {
  cursor: pointer;
}